# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### IntelliJ IDEA / JetBrains products
.idea/*
!.idea/codeStyles
!.idea/codeStyles/*
!.idea/runConfigurations
!.idea/runConfigurations/*

# TestContainers
/out/

dumps/

*.hprof

# Gradle Analytics plugin
gradle-analytics.db
