# Names merged / wrong
Muhammad Haris <muhammad.haris@tib.eu> mharis111
Suhas Murthy <suhas.murthy@tib.eu> Suhas Bhairav
Yaser Jaradeh <yaser.jaradeh@tib.eu> YaserJaradeh <yaser.jaradeh@tib.eu>
Yaser Jaradeh <yaser.jaradeh@tib.eu> YaserJaradeh <yaser.jaradeh@gmail.com>
# Lower-casing email addresses
<muhammad.haris@tib.eu> <Muhammad.Haris@tib.eu>
<yaser.jaradeh@tib.eu> <Yaser.Jaradeh@tib.eu>
# Non-TIB email address
Allard Oelen <allard.oelen@tib.eu> <oelen@l3s.de>
Allard Oelen <allard.oelen@tib.eu> <allard.oelen@gmail.com>
Golsa Heidari <golsa.heidari@tib.eu> <golsa.heidary@gamil.com>
Kheir Eddine Farfar <kheir.farfar@tib.eu> <kfarfar@gmail.com>
Manuel Prinz <manuel.prinz@tib.eu> <manuel@pinguinkiste.de>
Manuel Prinz <manuel.prinz@tib.eu> <1792792-mprinz@users.noreply.gitlab.com>>
Marcel Konrad <marcel.konrad@tib.eu> <Marcel.Konrad@tib.eu>
Markus Stocker <markus.stocker@tib.eu> <markus.stocker@gmail.com>
Muhammad Haris <muhammad.haris@tib.eu> <38453478+mharis111@users.noreply.github.com>
Muhammad Haris <muhammad.haris@tib.eu> <mharis,msit15seecs@seecs.edu.pk>
Salomon Kabongo Kabenamualu <salomon.kabenamualu@tib.eu> <salomon@aims.ac.za>
Suhas Murthy <suhas.murthy@tib.eu> <suhasbhairav@gmail.com>
Yaser Jaradeh <yaser.jaradeh@tib.eu> <yaser.jaradeh@gmail.com>
